body {
    text-align: center;
    padding: 3rem;
    background-color: azure;
}

button {
    margin: 2rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 5px;
}

p {
    display: inline;
    padding: 5px;
}

#result {
    font-size: 30px;
}