body {
    text-align: center;
    padding: 3rem;
    color: rgb(176, 255, 255);
    background-color: rgb(30, 30, 30);
}

h1 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem;
}

button {
    margin: 2rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 5px;
}

p {
    display: inline;
    padding: 5px;
}

li {
    list-style-type: none;
}

#result {
    font-size: 30px;
}